<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <title>职业健康商城</title>
    <link rel="icon" href="front/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="front/css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="front/css/pages-JD-index.css"/>
    <link rel="stylesheet" type="text/css" href="front/css/widget-jquery.autocomplete.css"/>
    <link rel="stylesheet" type="text/css" href="front/css/widget-cartPanelView.css"/>

</head>

<body>
<!-- 头部栏位 -->
<div id="nav-bottom"></div>
<!--页面顶部，由js动态加载-->
<script src="front/js/vue/vue.js"></script>
<script src="front/js/axios.min.js"></script>
<script src="front/js/common.js"></script>
<script type="text/javascript">
    var indexVm = new Vue({
        el: "#nav-bottom"
    });
</script>

<!--<script th:inline="javascript">-->
<!--    const indexView = /*[[${indexView}]]*/ {};-->
<!--    console.log(indexView);-->
<!--</script>-->

<!--列表-->
<div class="sort">
    <div class="py-container">
        <div class="yui3-g SortList ">
            <div class="yui3-u Left all-sort-list">
                <div class="all-sort-list2">
                    <div class="item" th:each="category1:${indexView.getCategoryList()}">
                        <h3><a th:href="@{'search.html?cid1='+${category1.getKey()}}" target="_blank" th:text="${category1.getTitle()}">家用电器</a></h3>
                        <div class="item-list clearfix">
                            <div class="subitem">
                                <dl th:each="category2:${category1.getChildren()}">
                                    <dt><a th:href="@{'search.html?cid2='+${category2.getKey()}}" target="_blank" th:text="${category2.getTitle()}">家用电器</a></dt>
                                    <dd>
                                        <em th:each="category3:${category2.getChildren()}">
                                            <a th:href="@{'search.html?cid3='+${category3.getKey()}}" target="_blank" th:text="${category3.getTitle()}">家用电器</a>
                                        </em>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="yui3-u Center banerArea" style="width:990px;">
                <!--banner轮播-->
                <div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="active item">
                            <a th:href="@{'item.html?id='+${indexView.scroll1.spuId}}" target="_blank"
                               style="display:block;width:990px;height:455px">
                                <img th:src="@{${indexView.scroll1.image}}"/>
                            </a>
                        </div>
                        <div class="item">
                            <a th:href="@{'item.html?id='+${indexView.scroll2.spuId}}" target="_blank"
                               style="display:block;width:990px;height:455px">
                                <img th:src="@{${indexView.scroll2.image}}"/>
                            </a>
                        </div>
                        <div class="item">
                            <a th:href="@{'item.html?id='+${indexView.scroll3.spuId}}" target="_blank"
                               style="display:block;width:990px;height:455px">
                                <img th:src="@{${indexView.scroll3.image}}"/>
                            </a>
                        </div>
                    </div>
                    <a href="#myCarousel" data-slide="prev" class="carousel-control left">‹</a><a href="#myCarousel"
                                                                                                  data-slide="next"
                                                                                                  class="carousel-control right">›</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--楼层-->
<div id="floor-1" class="floor">
    <div class="py-container">
        <div class="title floors">
            <h3 class="fl" th:text="${indexView.getFloor1().getTitle()}">家用电器</h3>
            <div class="fr">
                <ul class="sui-nav nav-tabs">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab">热门</a>
                    </li>
                    <li th:each="category : ${indexView.getFloor1().getChildren()}">
                        <a th:href="@{'search.html?cid2='+${category.getKey()}}" target="_blank" data-toggle="tab"
                           th:text="${category.getTitle()}">热门</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix  tab-content floor-content">
            <div id="tab1" class="tab-pane active">
                <div class="yui3-g Floor-1" style="height:300px">
                    <div class="yui3-u Left blockgary">
                        <a th:href="@{'item.html?id='+${indexView.getFloor1Data().get(0).spuId}}" target="_blank"
                           style="display:block;border:1px solid #e4e4e4;">
                            <img th:src="@{${indexView.getFloor1Data().get(0).image}}" style="height:300px"/>
                        </a>
                    </div>
                    <div class="yui3-u row-330">
                        <a th:href="@{'item.html?id='+${indexView.getFloor1Data().get(1).spuId}}" target="_blank"
                           style="display:block;border-right:1px solid #e4e4e4">
                            <img th:src="@{${indexView.getFloor1Data().get(1).image}}" style="height:300px;"/>
                        </a>
                    </div>
                    <div class="yui3-u row-220">
                        <a th:href="@{'item.html?id='+${indexView.getFloor1Data().get(2).spuId}}" target="_blank"
                           style="display:block;">
                            <img th:src="@{${indexView.getFloor1Data().get(2).image}}" style="height:300px"/>
                        </a>
                    </div>
                    <div class="yui3-u row-218 split">
                        <a th:href="@{'item.html?id='+${indexView.getFloor1Data().get(3).spuId}}" target="_blank"
                           style="display:block;">
                            <img th:src="@{${indexView.getFloor1Data().get(3).image}}" style="height:300px"/>
                        </a>
                    </div>
                    <div class="yui3-u row-220 split">
                        <a th:href="@{'item.html?id='+${indexView.getFloor1Data().get(4).spuId}}" target="_blank"
                           style="display:block;border-right:1px solid #e4e4e4">
                            <img th:src="@{${indexView.getFloor1Data().get(4).image}}" style="height:300px"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="floor-2" class="floor">
    <div class="py-container">
        <div class="title floors">
            <h3 class="fl" th:text="${indexView.getFloor2().getTitle()}">家用电器</h3>
            <div class="fr">
                <ul class="sui-nav nav-tabs">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab">热门</a>
                    </li>
                    <li th:each="category : ${indexView.getFloor2().getChildren()}">
                        <a th:href="@{'search.html?cid2='+${category.getKey()}}" target="_blank" data-toggle="tab"
                           th:text="${category.getTitle()}">热门</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix  tab-content floor-content">
            <div id="tab2" class="tab-pane active">
                <div class="yui3-g Floor-1" style="height:300px">
                    <div class="yui3-u Left blockgary">
                        <a th:href="@{'item.html?id='+${indexView.getFloor2Data().get(0).spuId}}" target="_blank"
                           style="display:block;border:1px solid #e4e4e4">
                            <img th:src="@{${indexView.getFloor2Data().get(0).image}}" style="height:300px"/>
                        </a>
                    </div>
                    <div class="yui3-u row-330">
                        <a th:href="@{'item.html?id='+${indexView.getFloor2Data().get(1).spuId}}" target="_blank"
                           style="display:block;border-right:1px solid #e4e4e4">
                            <img th:src="@{${indexView.getFloor2Data().get(1).image}}" style="height:300px"/>
                        </a>
                    </div>
                    <div class="yui3-u row-220">
                        <a th:href="@{'item.html?id='+${indexView.getFloor2Data().get(2).spuId}}" target="_blank"
                           style="display:block;">
                            <img th:src="@{${indexView.getFloor2Data().get(2).image}}" style="height:300px"/>
                        </a>
                    </div>
                    <div class="yui3-u row-218 split">
                        <a th:href="@{'item.html?id='+${indexView.getFloor2Data().get(3).spuId}}" target="_blank"
                           style="display:block;">
                            <img th:src="@{${indexView.getFloor2Data().get(3).image}}" style="height:300px"/>
                        </a>
                    </div>
                    <div class="yui3-u row-220 split">
                        <a th:href="@{'item.html?id='+${indexView.getFloor2Data().get(4).spuId}}" target="_blank"
                           style="display:block;border-right:1px solid #e4e4e4">
                            <img th:src="@{${indexView.getFloor2Data().get(4).image}}" style="height:300px"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="floor-3" class="floor">
    <div class="py-container">
        <div class="title floors">
            <h3 class="fl" th:text="${indexView.getFloor3().getTitle()}">家用电器</h3>
            <div class="fr">
                <ul class="sui-nav nav-tabs">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab">热门</a>
                    </li>
                    <li th:each="category : ${indexView.getFloor3().getChildren()}">
                        <a th:href="@{'search.html?cid2='+${category.getKey()}}" target="_blank" data-toggle="tab"
                           th:text="${category.getTitle()}">热门</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix  tab-content floor-content">
            <div id="tab3" class="tab-pane active">
                <div class="yui3-g Floor-1" style="height:300px">
                    <div class="yui3-u Left blockgary">
                        <a th:href="@{'item.html?id='+${indexView.getFloor3Data().get(0).spuId}}" target="_blank"
                           style="display:block;border:1px solid #e4e4e4">
                            <img th:src="@{${indexView.getFloor3Data().get(0).image}}" style="height:300px"/>
                        </a>
                    </div>
                    <div class="yui3-u row-330">
                        <a th:href="@{'item.html?id='+${indexView.getFloor3Data().get(1).spuId}}" target="_blank"
                           style="display:block;border-right:1px solid #e4e4e4">
                            <img th:src="@{${indexView.getFloor3Data().get(1).image}}" style="height:300px"/>
                        </a>
                    </div>
                    <div class="yui3-u row-220">
                        <a th:href="@{'item.html?id='+${indexView.getFloor3Data().get(2).spuId}}" target="_blank"
                           style="display:block;">
                            <img th:src="@{${indexView.getFloor3Data().get(2).image}}" style="height:300px"/>
                        </a>
                    </div>
                    <div class="yui3-u row-218 split">
                        <a th:href="@{'item.html?id='+${indexView.getFloor3Data().get(3).spuId}}" target="_blank"
                           style="display:block;">
                            <img th:src="@{${indexView.getFloor3Data().get(3).image}}" style="height:300px"/>
                        </a>
                    </div>
                    <div class="yui3-u row-220 split">
                        <a th:href="@{'item.html?id='+${indexView.getFloor3Data().get(4).spuId}}" target="_blank"
                           style="display:block;border-right:1px solid #e4e4e4">
                            <img th:src="@{${indexView.getFloor3Data().get(4).image}}" style="height:300px"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部栏位 -->
<!-- 头部栏位 -->
<div id="nav-foot"></div>
<div class="clearfix footer"></div>
<!--页面底部END-->
<script type="text/javascript" src="front/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">$("#nav-bottom").load("top.html");</script>
<script type="text/javascript">$("#nav-foot").load("foot.html");</script>
<script type="text/javascript">
    $(function () {
        $("#service").hover(function () {
            $(".service").show();
        }, function () {
            $(".service").hide();
        });
        $("#shopcar").hover(function () {
            $("#shopcarlist").show();
        }, function () {
            $("#shopcarlist").hide();
        });
    })
</script>
<script type="text/javascript" src="front/js/model/cartModel.js"></script>
<script type="text/javascript" src="front/js/czFunction.js"></script>
<script type="text/javascript" src="front/js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="front/js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="front/js/pages/index.js"></script>
<script type="text/javascript" src="front/js/widget/cartPanelView.js"></script>
<script type="text/javascript" src="front/js/widget/jquery.autocomplete.js"></script>
<script type="text/javascript" src="front/js/widget/nav.js"></script>
</body>


</html>