<div class='py-container'>
    <div class='shortcut' id="shortcutApp">
        <ul class='fl'>
            <li class='f-item' v-if='user && user.loginName'>
                欢迎您,<span style='color: red;'>{{user.loginName}}</span>
                <a href='javascript:void(0)' @click='gotoLogout'>退出</a>　
            </li>
            <li v-else class='f-item'>
                <a href='javascript:void(0)' @click='gotoLogin'>请登录</a>　
                <span><a href='register.html' target='_blank'>免费注册</a></span>
            </li>
        </ul>
        <ul class='fr'>
            <li class='f-item'>我的订单</li>
            <li class='f-item space'></li>
            <li class='f-item'><a href='home.html' target='_blank'>我的乐优</a></li>
            <li class='f-item space'></li>
            <li class='f-item'>乐优会员</li>
            <li class='f-item space'></li>
            <li class='f-item'>企业采购</li>
            <li class='f-item space'></li>
            <li class='f-item'>关注乐优</li>
            <li class='f-item space'></li>
            <li class='f-item' id='service'>
                <span>客户服务</span>
                <ul class='service'>
                    <li><a href='/cooperation.html' target='_blank'>合作招商</a></li>
                    <li><a href='/shoplogin.html' target='_blank'>商家后台</a></li>
                    <li><a href='/cooperation.html' target='_blank'>合作招商</a></li>
                    <li><a href='#'>商家后台</a></li>
                </ul>
            </li>
            <li class='f-item space'></li>
            <li class='f-item'>网站导航</li>
        </ul>
    </div>
    <script src="front/js/vue/vue.js"></script>
    <script type="text/javascript">
        console.log(Vue);
        var headVm = new Vue({
            el: "#shortcutApp",
            data: {
                user: null
            },
            methods: {
                gotoLogin() {
                    window.location = "login.html?returnUrl=" + window.location;
                },
                gotoLogout() {
                    ly.http("/sysUser/logout")
                        .then(resp => {
                            window.location = "index.html"
                        })
                }
            },
            created() {
                ly.http("/auth/verify")
                    .then(resp => {
                        this.user = resp.data.data;
                    })
            }
        })
    </script>
</div>